.avatar{
  border: 1px solid #000;
  
}

.card{
  cursor: pointer;
}

.name{
  font-weight: bold;
}

.modal-body{
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.info{
  text-align: left;
  margin-top: 10px;
}

.btn-circle {
    width: 20px;
    height: 20px;
    padding: 4px 3.5px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.icon {
  pointer-events: none;
}